.no-focus-form:focus {
  background-color: unset;
  border-color: unset;
  box-shadow: unset;
}

.no-focus-dark-form {
  background-color: unset;
  color: white;
}

.no-focus-dark-form::placeholder {
  color: white;
}
.no-focus-dark-form:focus {
  background-color: unset;
  border-color: white;
  box-shadow: unset;
  color: white;
}

.card-wrapper.no-resize .react-resizable-handle {
  display: none !important;
  pointer-events: none !important;
}

.card-wrapper.no-resize {
  pointer-events: none;
}
.card-wrapper.no-resize * {
  pointer-events: auto;
}

.login-form {
  padding: 2rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: black;
}

.no-focus-dark-form-login:focus {
  background-color: unset;
  border-color: unset;
  box-shadow: unset;
  color: black;
}
